node_modules
.DS_Store
*.tar.gz
*.pyc*
*BBC_pair
backend/app.db
*app.db.bak
instance/dist*
*pyc*
*.swp
backend/app/highlight.jsonl
*/*.pyc*
*/*/*.pyc*
*/*/*/*.pyc*
*.csv
package-lock.json
package.json
Pipfile
Pipfile.lock
yarn.lock
settings.json
*.jsonl
*.jsonl.*
backend/app/app.db
backend/app/kappa_alignment.py.bak
backend/app/bad_turkers.txt
